header {
   
    margin-top: 70px;
}

.logo-pokemon {
    display: flex;
    align-items: center;
    gap: 16px;
    grid-column: 1/-1;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 400;
}
